body{
    background-color: #bebebe;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#page-intro{
    height: 5rem;
    background-color: #4169E1;
    padding-top: 0.1rem;
    border: 2px whitesmoke solid;
}

h1{
    font-size: 2.5rem;
}

#first-app{
    height: 25rem;
    width: 75%;
    background-color: #4169E1;
    margin: auto;
    border: 2px whitesmoke solid;
    border-radius: 1rem;
    margin-top: 2rem;
}

.FA-text{
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
}

#rps-input{
    height: 15rem;
    width: 50%;
    background-color: #bebebe;
    margin: auto;
    border: 2px whitesmoke solid;
    border-radius: 1rem;
    box-shadow: grey 4px 4px;
}

#playerScore, #computerScore{
    
}