*{
    background-color: rgb(118, 117, 117);
}

.top{
    text-align: center;
    color: black;
    font-size: 75px;
    background-color: white;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.times,
li,
a  {
    color: black;
    background-color: white;
    
}

.head{
    color: black;
    background-color: white;
    text-align: center;
}

.box{
    float: left;
    height: 500px;
    width: 500px;
    background-color: white;
    margin-bottom: 20px;

}

.box-2{
    float: right;
    height: 500px;
    width: 500px;
    background-color: black;
    color: white;
}

.right-side{
    background-color: black;
}

