:root{
    --main-body: rgb(240, 224, 190);
}

body{
    background-color: var(--main-body);
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

/*Start of page header active UI link to webpage also having contact page to external page*/

header{
    height: auto;
    background-color: black;
    color: white;
}

#header1{
    display: inline;
}

#header1 h1{
    display:inline;
    font-size: 5rem; 
}

#header1 p{
    display: inline;
    font-size: 2rem;
    margin-left: 2rem;
}

#header1 nav{
   display: inline;
   font-size: 1.5rem;
   color: white;
   margin-left: 5rem;
   
}

.link{
    padding: .2rem;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: none;
    background-color: white;
    color: black;
}

a:active{
    text-decoration: none;
}
/*Strat of the main body of the page with main photo, about me, and experince*/
.AboutMe{
    background-color: black;
    height: 30rem;
    width: auto;
    color: white;
    margin-top: 3rem;
}

.main-photo{
    height: 90%;
    width: 50%;
    border: 2px white solid;
    margin-left: 1rem;
    margin-top: 1.5rem;
    border-radius: 1rem;
    box-shadow: .25rem .25rem grey;
}

article{
    float: right;
}

div h2{
    font-size: 2.5rem;
    position: relative;
    margin-right: 25rem;
}

div p{
    font-size: 1rem;
    overflow: visible;
    width: 35rem;
}

/*start of showing completed and to be completed projects*/

#container{
    width: 100%;
}

.Work{
    background-color: black;
    height: 22rem;
    width: auto;
    color: white;
    margin-top: 3rem;
}

.column{
    width: 33.33333333%;
    float: left;
    
    
}

.column img{
    width: 85%;
    height: 15rem;
    border: 2px white solid;
    margin-top: 1rem;
    border-radius: 1rem;
    box-shadow: .25rem .25rem grey;
   
}

.git-link:hover{
    background-color: black;
    
}

.toTop:hover{
    background-color: black;
}

.git-photo{
    margin-left: 1.5rem;
}

.port2-photo{
    margin-left: 1.5rem;
}

.port3-photo{
    margin-left: 1.5rem;
}

.git-text, .port2-txt, .port3-txt{
    margin-left: 10rem;
}

.Contact{
    background-color: black;
    height: 12rem;
    width: auto;
    color: white;
    margin-top: 3rem;
}

.ContactInfo{
    margin-top: -1rem;
}

li{
    font-size: 1.2rem;
}


footer{
    background-color: black;
    height: 5rem;
    width: auto;
    color: white;
    margin-top: 3rem;
}

footer h2{
    font-size: 3rem;
    text-align: center;
}