*{
    background-color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header h1{
    text-align: center;
    border: 2px black solid; 
    background-color: white; 
    width: 50%;
    height: 70px;
    padding-top: 15px;
    margin-left: 25%;
}

.bio p{
    background-color: white;
    border: 2px black solid;
    height: 400px;
    width: 600px;
    padding-top: 10px;
    padding-left: 10px;
}

footer{
    background-color: white;
    border: 2px black solid;
    height: 50px;
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
    font-weight: 600;
}