*{
    background-color: var(--cream);
    border: 3px black;
    font-size: 20px;

}

:root{
    --cream: rgb(230, 209, 171);
}

.head h1{
    font-size: 45px;
    color: white;
    background-color: black;
    display: flex;
    flex-grow: 5px;
}