:root{
    --dark: rgb(80, 80, 80);
    --bright: rgb(250, 144, 162);
}

*{
    background-color: var(--dark);
    color: var(--bright);
}

header{
    text-align: center;
}

.top-row, .bottom-row{
    flex-wrap: wrap;
    text-align: center;
}

#top-header, #bottom-header{
    border: 2px white dotted;
    
}

